<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ct" content="<%= ct %>">
    <title>BackTrack</title>
    <!-- <link href="css/watson-bootstrap-style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <body ng-app="BackTrack">
    <!-- top nav section -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">BackTrack</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">Recordings</a></li>
              <li><a ng-href="#/">Transcription</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Description Bar -->
    <!-- Step 1 Section-->
    <div class="container" ng-controller="homeController">
      <!-- Step 3 Section-->
      <div class="BackTrack" >
        <h1>BackTrack</h1>
        
<!--         <button id="recordButton" class="btn btn-primary">Play Audio</button> 
 -->
        <ng-audio-recorder id="mainAudio" audio-model="recorded" show-player="false">
        <div ng-if="recorder.isAvailable">

            <div ng-if="recorder.status.isDenied === true" class="btn btn-primary">
                You need to grant permission for this application to USE your microphone.
            </div>
            <img ng-hide="recorder.status.isRecording" src="images/play-red.svg" class="record-logo"></img>
            <img ng-show="recorder.status.isRecording" src="images/stop-red.svg" class="record-logo">
            <br/><br/>
            <!-- <button id="recordButton" class="btn btn-primary" ng-click="recordButton()">Record Audio</button> -->

            <button ng-click="recorder.toggleRecord()" id="recordButton" class="btn btn-primary" type="button">
                {{recorder.status.isRecording ? 'Stop Recording' : 'Start Recording'}}
            </button>

            <button class="btn btn-primary" ng-click="recorder.flag()" ng-disabled="!recorder.status.isRecording || recorder.audioModel">
                Flag
            </button>

            <button class="btn btn-primary" ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>
            <!-- {{recorder.status.flags}} -->
            <div ng-repeat="item in recorder.status.flags">
              <div ng-show="recorder.status.currentOptions == item">
                <button class="btn btn-primary" ng-click="recorder.skipToSeconds(item)">Exact</button>
                <button class="btn btn-primary" ng-click="recorder.skipToSeconds(item-5)">-5</button>
                <button class="btn btn-primary" ng-click="recorder.skipToSeconds(item-15)">-15</button>
                <button class="btn btn-primary" ng-click="recorder.skipToSeconds(item-30)">-30</button>
                <!-- <button ng-show="(recorder.elapsedTime-item) > 5"> TEST GREATER 5 </button> -->
              </div>
              <button ng-click="recorder.showSkipOptions(item)">{{item}}</button>
            </div>
            <!-- <a ng-repeat="item in recorder.status.flags" ng-click="recorder.skipToSeconds(item)">{{item}}</a> -->

            <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
                <div ng-show="recorder.status.isConverting">
                    Please wait while your recording is processed.
                </div>

                <div ng-show="recorder.isHtml5 && recorder.status.isRecording">
                    <ng-audio-recorder-analyzer width="95%"></ng-audio-recorder-analyzer>
                </div>
                <br/>

                <div class="wave-center" ng-show="!recorder.status.isRecording && recorder.audioModel">
                    <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
                </div>
            </div>
            <div class="row">
              <btn ng-show="recorder.status.isPlaySelected" class="btn btn-primary" ng-click="recorder.reset()">Backward</btn>
            <button class="btn btn-primary" ng-click="recorder.status.isPlaying ? recorder.playbackPause() : recorder.playbackResume()"
                    type="button" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                {{recorder.status.isStopped || recorder.status.isPaused ? 'Play' : 'Pause'}}
            </button>
              <btn ng-show="recorder.status.isPlaySelected" class="btn btn-primary" ng-click="recorder.end()">Forward</btn>
              <btn ng-show="recorder.status.isPlaySelected" class="btn btn-primary" ng-click="recorder.mute()">Mute/Unmute</btn>
            </div>


            <h2 style="font-family: sans-serif; text-align: center; width: 60px; border-radius: 20px;
        border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
                {{ recorder.elapsedTimeSeconds }}
            </h2>
        </div>


        <div ng-if="!recorder.isAvailable">
            Your browser does not support this feature natively, please use latest version of <a
                href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a
                href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on
            Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a> to
            use this feature.
        </div>
        <h2>{{recorder.status.sentiment}}</h2>
       </ng-audio-recorder>
       <br/>

      </div>
        <input ng-model="test" class="form-control" rows="10" id="resultsText" dir="auto"></input>

        <div class="col-lg-12 col-md-12 col-sm-12" ng-show="randomHide">
          <div style="margin-top:2em;">
            <span style="font-size:1.563em;font-weight:400;color:#323232;-webkit-user-select:none;-moz-user-select:none;">
              Word Alternatives
            </span>
            <a id="show_alternate_words">Hide alternate words</a>
          </div>
          <div style="padding:0;margin-top:1em;">
            <canvas id="canvas" width="960" height="368"/>
            </canvas>
            <div id="confusion-networks">
              <div id="canvas-placeholder">
                Word Alternatives will appear shortly after audio transcription is started
              </div>
              <input id="vslider" type="range" orient="vertical"/>
            </div>
            <input id="hslider" type="range" style="display:none;"/>
            <img id="left-arrow" src="images/arrow-left-icon-disabled.svg"/>
            <img id="right-arrow" src="images/arrow-right-icon-disabled.svg"/>
          </div>

            <!-- Spacer-->
            <!-- TODO: Move this to CSS-->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <br><br>
              </div>
            </div>

          </div><!-- /.col -->
        </div><!-- /.row -->
        <br/>

      </div><!-- /.container -->
       <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span>  From Team BackTrack at Incubate DFW</p>
      </div>
    </div>
      <!-- for file upload dialog in toolbar -->
      <input style="display:none" type="file" id="fileUploadDialog">

      <!-- Place js files at the end of the document, with fallbacks for CDNs -->
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="js/index.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/record.min.js"></script>
      <script src="scripts/wavesurfer.min.js"></script>

      <% if (GOOGLE_ANALYTICS_ID) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
        ga('send', 'pageview');

      </script>
      <% } %>

  </body>

</html>
