.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /*background-color: #FD750F;*/
  background-position: center; 
}

h1 {
  font-size: 100px;
}
.BackTrack {
  /*background-color: #FD750F;*/
  color: white;
  text-align: center;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: white;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 20px;
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbo-logo {
  width: 150px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#resultsText {
  background-color:transparent;
  color: white;
  font-size: 50px;
  border: none;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.backgrounds {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}
.navbar {
  margin-bottom: 0px;
}

.record-logo {
  width: 150px;
}

.form-control {
  font-size: 20px;
}

.wave-center {
  margin-left: auto;
  margin-right: auto;
}

.dropdown-menu {
  left: 40%;
}